/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 96%;
  height: 8%;
  margin: 0 auto;
}

/* Header and Navbar */
header {
  background-color: #007BFF;
  padding: 1.5%;
}

header .logo h1 {
  padding-top: 0%;
  color: #fff;
  margin: 0;
  text-align: left ;
}

header nav ul {
  list-style: none;
  padding: 0;
  text-align: right;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

header nav ul li a:hover {
  color: #FFD700; /* Gold color */
  text-decoration: underline;
}

/* Hero Section */
.hero {
  text-align: center;
  background: #f0f0f0;
  padding: 80px 20px; /* Reduced padding */
}

.hero h2 {
  font-size: 36px;
  color: #333;
}

.hero p {
  font-size: 20px;
  color: #666;
}

/* About and Features Section */
.about, .features {
  text-align: center;
  padding: 60px 20px;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features ul li {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin-left: 15px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  color: #FFD700; /* Gold color */
}